@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h2><a href="http://localhost:5069/swagger/index.html">Swagger</a></h2>
    <h2><a href="https://workout-tracker-app.azurewebsites.net/swagger/index.html">Swagger (use this)</a></h2>
</div>